* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
}
.hidden {
  visibility: hidden;
}
/*? HEADER SECTION */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  padding-bottom: 1rem;
}
.score-section {
  text-align: center;
}
.score-board-title {
  padding-bottom: 8px;
}
.score-section > .score-board-count {
  font-size: 18px;
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 95%;
}
/*? HEADER SECTION ----- END */
/*? START GAME PAGE */
#hero-img {
  position: absolute;
  z-index: -1;
  float: left;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.05;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}
.game-start-page {
  position: absolute;
  text-align: center;
  max-width: 70%;
}
.game-start-page > h1 {
  font-size: 24px;
  padding: 3.5rem;
}
.game-start-page > p {
  font-size: 18px;
  font-weight: 200;
  line-height: 25px;
  max-width: 900px;
}
.start-game-btn {
  height: 50px;
  width: 200px;
  background-color: #bce8c1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.2rem;
  margin: 3.5rem;
}
.start-game-btn:hover {
  background-color: #a4deac;
}
.start-game-btn:active {
  background-color: rgb(172, 229, 180);
}
/*? START GAME PAGE ----- END */
/*? DEFAULT GAME BOARD PAGE */
.game-board {
  height: 100vh;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card-and-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* CARD */
.flip-card {
  background-color: transparent;
  width: 550px;
  height: 350px;
  margin: 1.5rem 1rem;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
  background: -o-linear-gradient(
    top,
    #5c5b70 0%,
    #39385a 99.99%,
    rgba(55, 54, 89, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(#5c5b70),
    color-stop(99.99%, #39385a),
    to(rgba(55, 54, 89, 0))
  );
  background: linear-gradient(
    180deg,
    #5c5b70 0%,
    #39385a 99.99%,
    rgba(55, 54, 89, 0) 100%
  );
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.flip-card-front > p,
.flip-card-back > p {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.flip-card-front {
  color: white;
}
.flip-card-back {
  color: white;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
#card-text-question {
  font-size: 24px;
  color: white;
  width: 400px;
  text-align: center;
  font-weight: 300;
  line-height: 50px;
}
#card-text-answer {
  font-size: 24px;
  color: white;
  width: 400px;
  text-align: center;
  font-weight: 300;
  line-height: 50px;
}
/* HINT BUTTON */
.hint-button {
  color: #705b5b;
  font-size: 20px;
  border: none;
  background: transparent;
}
.hint-button > i {
  background-color: transparent;
}
.flip-card-front > button {
  height: 50px;
  width: 50px;
  margin-top: 300px;
  margin-left: 100px;
  border-radius: 15px 0px 15px 0px;
  background-color: #f2deab;
}
.flip-card-front > button:hover {
  background-color: #efd593;
}
/* HINT BUTTON ----- END */
/* HIDE-HINT BUTTON */
.hide-hint-button {
  color: #705b5b;
  font-size: 20px;
  border: none;
  background: transparent;
}
.hide-hint-button > i {
  background-color: transparent;
}
.flip-card-back > button {
  height: 50px;
  width: 50px;
  margin-top: 250px;
  margin-left: 500px;
  border-radius: 15px 0px 15px 0px;
  background-color: #f2deab;
}
.flip-card-back > button:hover {
  background-color: #efd593;
}
/* CARD ----- END */
/* ARROW BUTTONS */
#arrowBtn {
  font-size: 24px;
  height: 1rem;
  border: none;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  background-color: transparent;
}
#arrowBtn:hover {
  color: rgb(78, 188, 59);
}
#arrowBtn:active {
  color: rgb(148, 229, 134);
}
i {
  padding: 1rem;
}
/* ARROW BUTTONS ----- END */
/* FORM */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 650px;
  font-size: 20px;
  text-align: left;
}
#question-1 > div {
  padding: 1rem 0;
}
/* FORM ----- END */
/* CHECK ANSWER BUTTON */
.check-answer {
  height: 30px;
  width: 200px;
  background-color: #bce8c1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 200;
  margin-top: 3rem;
}
.check-answer:hover {
  background-color: #a4deac;
}
.check-answer:active {
  background-color: rgb(172, 229, 180);
}
/* CHECK ANSWER BUTTON ----- END */

/* RESTART BUTTON */
.restart {
  border: none;
  height: 25px;
  width: 100px;
  background: #f69797;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-top: 5rem;
}
.restart:hover {
  background: #f38a8a;
}
.restart:active {
  background: #f4a4a4;
}
/* BOTTOM HINT */
.game-board > p {
  font-size: 12px;
}
.game-board > p > i {
  color: #705b5b;
}
/* BOTTOM HINT ----- END */

/* SWITCH CONTAINER */
.switch-container {
  /* border: 1px solid red; */
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* SWITCH CONTAINER ----- END */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
#toggle:checked + .slider {
  background-color: #39385a;
}
#toggle:focus + .slider {
  -webkit-box-shadow: 0 0 1px #39385a;
  box-shadow: 0 0 1px #39385a;
}
#toggle:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* MESSAGE IN FORM */
#good-job,
#bad-job {
  font-size: 20px;
  margin-top: 2rem;
  margin-bottom: -5.3rem;
  text-align: center;
}
/* MESSAGE IN FORM ----- END */

/* .display-none {
  display: none;
  visibility: hidden;
} */
/* WINNING PAGE */
.winning-page {
  position: absolute;
  height: 100vh;
  /* z-index: -1; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: #bce8c1;
  margin-bottom: 8rem;

}
.winning-page > h1 {
  font-size: 36px;
  padding: 1rem;
}
.winning-page > h2 {
  font-size: 30px;
  padding: 1rem;
  font-weight: 300;
}
.winning-page > p {
  font-size: 18px;
  padding: 0.5rem;
}
/* WINNING PAGE ----- END */
/* LOSING PAGE */
.losing-page {
  position: absolute;
  height: 100vh;
  /* z-index: -1; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: #f1bcbc;
  margin-bottom: 8rem;
}
.losing-page > h1 {
  font-size: 36px;
  padding: 1rem;
}
.losing-page > h2 {
  font-size: 30px;
  padding: 1rem;
  font-weight: 300;
}
.losing-page > p {
  font-size: 18px;
  padding: 0.5rem;
}
/* LOSING PAGE ----- END */

/* RADIO BUTTON STYLE */
.radio {
  background-color: red;
}
/* RADIO BUTTON STYLE ----- END */